.photo-gallery-page .section_one {
    background-image: url(../../assets/icons/photo-gallery-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 82vh;
    color: #fcfcfc;
    filter: brightness(93%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.photo-gallery-page .section_one .container {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
}

.photo-gallery-page .section_one .container .left {
    display: flex;
    align-items: center;
    height: 250px;
}

.photo-gallery-page .section_one .container .left h2 {
    font-family: Bebas Neue;
    font-size: 45px;
    font-weight: 500;
    line-height: 118.5px;
    letter-spacing: 0.04em;
    text-align: left;
}

.photo-gallery-page .section_two .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 3em 0;
    color: #fcfcfc;
}

.photo-gallery-page .section_two .container h3 {
    font-family: Bebas Neue;
    font-size: 19px;
    color: #fcfcfc !important;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
}

.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.photo-gallery-page .section_two .container .pagination_btns {
    display: flex;
    justify-content: space-between;
}

.photo-gallery-page .section_two .container .pagination_btns .left_btns {
    display: flex;
    gap: 2em;
}

.photo-gallery-page .section_two .container .pagination_btns .left_btns button {
    width: 200px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid;
    background: none;
    color: #fcfcfc;
    gap: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.photo-gallery-page .section_two .container .pagination_btns .right_btns {
    display: flex;
    gap: 2.5em;
}



.photo-gallery-page .section_two .container .pagination_btns .right_btns .left_page {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Roboto Condensed;
    font-size: 15.6px;
    font-weight: 400;
    line-height: 20px;
    color: #737373;
    letter-spacing: 0.04em;
    text-align: left;
}

.photo-gallery-page .section_two .container .pagination_btns .right_btns .left_page button {
    width: 80px;
    height: 40px;
    padding: 10px 5px;
    gap: 12px;
    background: none;
    outline: none;
    border: 1px solid #fcfcfc;
    color: #737373;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.photo-gallery-page .section_two .container .pagination_btns .right_btns .go_ {
    width: 170px;
    color: #fcfcfc;
    border: 1px solid #fcfcfc;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    gap: 12px;
    background: none;
}



.photo-gallery-page .section_two .container .back_navigate {
    display: flex;
    color: #fcfcfc;
    align-items: center;
    padding: 2em 1.5em;
    gap: 10px;
}

.photo-gallery-page .section_two .container .back_navigate .home {
    display: flex;
    gap: 5px;
    font-family: Roboto Condensed;
    font-size: 18px;
    background: none;
    color: #fcfcfc;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.5px 6px;
    align-items: center;
    font-weight: 400;
    line-height: 10.13px;
    letter-spacing: 0.04em;
    text-align: left;
}

.photo-gallery-page .section_two .container .back_navigate .next {
    background: none;
    color: #fcfcfc;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


.photo-gallery-page .section_two .container .back_navigate .about {
    width: 191px;
    height: 32px;
    gap: 12px;
    background: #ffffff;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    font-family: Roboto Condensed;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    line-height: 28.13px;
    letter-spacing: 0.04em;
    text-align: center;
}