.contact-page .section_one {
    background-image: url(../../assets/icons/contact-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 82vh;
    color: #fcfcfc;
    filter: brightness(93%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-page .section_one .container {
    width: 90%;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
}

.contact-page .section_one .container .left {
    display: flex;
    align-items: center;
    height: 200px;
}

.contact-page .section_one .container .left h2 {
    font-family: Bebas Neue;
    font-size: 45px;
    font-weight: 500;
    line-height: 118.5px;
    letter-spacing: 0.04em;
    text-align: left;
}

.contact-page .section_two .container {
    width: 80%;
    margin: -2.9em auto;
    color: #fcfcfc;
    padding: 3em 0;
    padding-bottom: 8em;
}

.contact-page .section_two .container .location {
    width: 100%;
}

.contact-page .section_two .container .contacts_ {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    justify-content: space-between;
    gap: 6em;
}

.contact-page .section_two .container .contacts_ .element {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-page .section_two .container .contacts_ .element ul {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}


.contact-page .section_two .container .contacts_ .element li {
    list-style: none;
    display: flex;
    gap: 0.5em;
}



.contact-page .section_two .container .back_navigate {
    display: flex;
    color: #fcfcfc;
    align-items: center;
    padding: 4em 0;
    gap: 10px;
}

.contact-page .section_two .container .back_navigate .home {
    display: flex;
    gap: 5px;
    font-family: Roboto Condensed;
    font-size: 18px;
    background: none;
    color: #fcfcfc;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5px 6px;
    align-items: center;
    font-weight: 400;
    line-height: 10.13px;
    letter-spacing: 0.04em;
    text-align: left;
}

.contact-page .section_two .container .back_navigate .next {
    background: none;
    color: #fcfcfc;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.contact-page .section_two .container .back_navigate .about {
    width: 191px;
    height: 32px;
    cursor: pointer;
    gap: 12px;
    background: #ffffff;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.13px;
    letter-spacing: 0.04em;
    text-align: center;
}