.new_card {
  display: flex;
  gap: 2em;
}

.new_card .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new_card .left img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  max-width: 661px;
  max-height: 460px;
}
.new_card .right .top {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.new_card .right .top h3 {
  font-family: Bebas Neue;
  font-size: 23px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: left;
}

.new_card .right .top p {
  font-family: Roboto Condensed;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.new_card .right .bottom {
  display: flex;
  justify-content: space-between;
}

.new_card .right .bottom .left {
  list-style: none;
  gap: 1.2em;
  display: flex;
  flex-direction: column;
}

.new_card .right .bottom .left li {
  display: flex;
  gap: 10px;
}

.new_card .right .bottom .right button {
  width: 300px;
  height: 40px;
  background: none;
  border: 1px solid #fcfcfc;
  color: #ffff;
  padding: 4px 5px;
  gap: 10px;
  border-radius: 6px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  cursor: pointer;
  opacity: 0px;
}

.new_card .right .bottom .right button:hover {
  background: #ffff;
  color: black;
  transition: 0.4s ease;
}
